@import "../../styles/variables.scss";

.roadmap {
  width: 100%;
  padding: 0 100px 150px 100px;
  align-items: center;

  & > span {
    color: $Green-light;
    font-size: 78px;
    padding-bottom: 100px;
    font-family: "burnaby-stencil";
  }

  &-road {
    position: relative;
    width: 20px;
    background-color: $Green-dark;
    align-items: center;

    & > div {
      position: absolute;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      background-color: $Green-light;
      top: -20px;
    }
  }

  &-item {
    width: 100%;
    justify-content: center;
    gap: 80px;

    &-image {
      width: 40%;
      align-items: center;
      justify-content: center;
      padding-bottom: 150px;
    }

    &-phase {
      width: 40%;
      height: min-content;
      border-radius: 16px;
      background-color: $Black-gray;
      padding: 60px;
      font-family: "sofia-pro";

      &-title {
        color: $White;
        font-size: 36px;
        font-weight: bold;
        padding-bottom: 30px;
      }

      &-content {
        width: 100%;

        &-steps {
          width: 100%;
          align-items: center;
          padding: 8px 0;

          & > div:not(:last-child) {
            width: 48px;

            & > svg {
              color: $Red-light;
              font-size: 24px;
              margin-right: 16px;
              margin-top: 6px;
            }
          }

          &-title {
            color: $Green-dark;
            font-size: 26px;
          }
        }
      }
    }
  }
}

.completed {
  & > div:not(:last-child) {
    & > svg {
      color: $Green-light;
    }
  }
}

@media (max-width: 1700px) {
  .roadmap {
    & > span {
      font-size: 70px;
      padding-bottom: 90px;
    }

    &-item {
      &-phase {
        padding: 40px;

        &-title {
          font-size: 32px;
        }

        &-content {
          &-steps {
            & > div:not(:last-child) {
              width: 36px;

              & > svg {
                font-size: 20px;
              }
            }

            &-title {
              font-size: 20px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .roadmap {
    padding: 0 60px 110px 60px;

    & > span {
      font-size: 64px;
      padding-bottom: 80px;
    }

    &-road {
      width: 10px;

      & > div {
        width: 30px;
        height: 30px;
      }
    }

    &-item {
      gap: 50px;

      &-image {
        padding-bottom: 100px;
      }

      &-phase {
        padding: 30px;

        &-title {
          font-size: 28px;
        }

        &-content {
          &-steps {
            & > div:not(:last-child) {
              & > svg {
                font-size: 16px;
              }
            }

            &-title {
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .roadmap {
    padding: 0 30px 90px 30px;

    & > span {
      font-size: 48px;
      padding-bottom: 60px;
    }

    & > span {
      width: 100%;
      text-align: center;
    }

    &-road {
      display: none !important;
    }

    &-item {
      flex-direction: column !important;
      align-items: center;
      gap: 30px;

      &:nth-child(3) {
        flex-direction: column-reverse !important;
      }

      &:not(:last-child) {
        margin-bottom: 30px;
      }

      &-image {
        padding-bottom: 0;
        width: 100%;

        & > img {
          width: 60%;
        }
      }

      &-phase {
        width: 100%;
      }
    }
  }
}
