@import "./variables.scss";
@import url("https://use.typekit.net/rhs4inp.css");

html {
  overflow-x: hidden;
}

html,
body {
  width: 100%;
  border: 0;
  margin: 0;
  padding: 0;
  outline: 0;
  background-color: $Black-blue;
}

#root {
  width: 100%;
}

* {
  box-sizing: border-box;
}

.flex {
  display: flex;
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}
