@import "./variables.scss";
@import url("https://use.typekit.net/rhs4inp.css");

html {
  overflow-x: hidden;
}

html,
body {
  width: 100%;
  border: 0;
  margin: 0;
  padding: 0;
  outline: 0;
  background-color: $Black-blue;
}

#root {
  width: 100%;
}

* {
  box-sizing: border-box;
}

.flex {
  display: flex;
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

button {
  white-space: nowrap;
}

.subtitle {
  white-space: nowrap;
  font-size: 100px;
  text-align: center;
  align-items: center;
  font-family: "sofia-pro";
  font-weight: 800;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgba($color: $Green-light, $alpha: 0.2);

  & > span {
    margin-top: -70px;
    font-size: 96px;
    -webkit-text-stroke-width: 0;
    color: $Green-light;
    font-family: "burnaby-stencil";
  }
}

@media (max-width: 1700px) {
  .subtitle {
    font-size: 88px;

    & > span {
      margin-top: -60px;
      font-size: 80px;
    }
  }
}

@media (max-width: 1200px) {
  .subtitle {
    font-size: 72px;

    & > span {
      margin-top: -55px;
      font-size: 64px;
    }
  }
}

@media (max-width: 1024px) {
  .subtitle {
    font-size: 64px;

    & > span {
      margin-top: -40px;
      font-size: 56px;
    }
  }
}

@media (max-width: 900px) {
  .subtitle {
    font-size: 48px;

    & > span {
      margin-top: -35px;
      font-size: 36px;
    }
  }
}

@media (max-width: 600px) {
  .subtitle {
    font-size: 42px;

    & > span {
      margin-top: -30px;
      font-size: 32px;
    }
  }
}
