// Default Colors
$Black: #000000;
$Black-blue: #0e0e10;

$White: #ffffff;
$White-gray: #eaeaea;

// Green Colors
$Green-light: #28fa2e;
$Green-white: #4c8060;
$Green-dark: #7aa77b;
$Green-black: #19221d;

// Blue Colors
$Blue-green: #11998e;
