@import "../../styles/variables.scss";

.navbar {
  width: 100%;
  padding: 30px 100px 0 100px;
  justify-content: space-between;
  background-color: rgba($color: $Green-white, $alpha: 0.1);

  & > img {
    height: 128px;
    cursor: pointer;
    z-index: 1;
  }

  &-right {
    width: 100%;
  }

  &-contacts {
    width: 100%;
    justify-content: flex-end;
    gap: 48px;
    color: $Green-dark;
    font-size: 20px;
    font-family: "sofia-pro";
    white-space: nowrap;
  }

  &-buttons {
    height: 100%;
    align-items: center;
    justify-content: flex-end;
    font-family: "burnaby-stencil";
    white-space: nowrap;
    gap: 50px;

    & > a {
      cursor: pointer;
      font-size: 30px;
      text-decoration: none;
      color: $White;

      &:hover {
        color: $Green-light;
      }

      &:active {
        color: $Green-dark;
      }
    }

    &-enterapp {
      padding: 12px 18px;
      border-radius: 10px;
      font-size: 26px;
      color: $Black;
      background-color: $Green-light;
      box-shadow: 0 0 64px 0 rgba($color: $Green-light, $alpha: 0.3);
      cursor: pointer;

      &:hover {
        box-shadow: 0 0 64px 0 rgba($color: $Green-light, $alpha: 0.4);
      }

      &:active {
        box-shadow: 0 0 64px 0 rgba($color: $Green-light, $alpha: 0.2);
      }
    }

    &-collapse {
      display: none;
      font-size: 16px;
      border-radius: 10px;
      color: $Green-light;
      padding: 12px 18px;
      cursor: pointer;
    }
  }

  &-collapse-menu {
    position: absolute;
    width: 100%;
    background-color: $Black-green;
    align-items: center;
    justify-content: space-around;
    z-index: 2;
    height: 0px;
    transition: 0.5s;
    overflow: hidden;

    &-collapsed {
      height: 300px;
    }

    & > a {
      width: 100%;
      text-align: center;
      font-family: "burnaby-stencil";
      white-space: nowrap;
      font-size: 20px;
      text-decoration: none;
      color: $White;
      padding: 8px 0;

      &:hover {
        color: $Green-light;
        background-color: $Black-green;
      }

      &:active {
        color: $Green-dark;
      }
    }
  }
}

@keyframes expanding {
  from {
    height: 0;
  }

  to {
    height: auto;
  }
}

@media (max-width: 1700px) {
  .navbar {
    padding: 30px 50px 0 50px;
    justify-content: space-between;

    & > img {
      height: 104px;
    }

    &-contacts {
      gap: 36px;
      font-size: 16px;
    }

    &-buttons {
      gap: 36px;

      & > a {
        font-size: 24px;
      }

      &-enterapp {
        font-size: 20px;
      }
    }
  }
}

@media (max-width: 1200px) {
  .navbar {
    padding: 10px 30px 0 30px;
    justify-content: space-between;

    & > img {
      height: 96px;
    }

    &-contacts {
      gap: 24px;
      font-size: 14px;
    }

    &-buttons {
      gap: 24px;

      & > a {
        font-size: 22px;
      }

      &-enterapp {
        font-size: 18px;
      }
    }
  }
}

@media (max-width: 1024px) {
  .navbar {
    padding: 10px 20px 0 20px;
    justify-content: space-between;

    & > img {
      height: 80px;
    }

    &-contacts {
      gap: 16px;
      font-size: 14px;
    }

    &-buttons {
      gap: 24px;

      & > a {
        font-size: 20px;
      }

      &-enterapp {
        font-size: 16px;
      }
    }
  }
}

@media (max-width: 900px) {
  .navbar {
    &-buttons {
      & > a {
        display: none;
      }

      &-collapse {
        display: block !important;
        font-size: 16px;
        margin-left: -16px;
      }
    }
  }
}

@media (max-width: 600px) {
  .navbar {
    &-contacts {
      display: none !important;
    }
  }
}
