@import "../../styles/variables.scss";

.navbar {
  width: 100%;
  padding: 30px 100px 0 100px;
  gap: 64px;
  justify-content: space-between;
  background-color: rgba($color: $Green-white, $alpha: 0.1);

  & > img {
    height: 128px;
    cursor: pointer;
  }

  &-right {
    width: 100%;
  }

  &-contacts {
    width: 100%;
    justify-content: flex-end;
    gap: 48px;
    color: $Green-dark;
    font-size: 20px;
    font-family: "sofia-pro";
    white-space: nowrap;
  }

  &-buttons {
    height: 100%;
    align-items: center;
    justify-content: flex-end;
    font-family: "burnaby-stencil";
    white-space: nowrap;
    gap: 50px;

    & > a {
      font-size: 30px;
      text-decoration: none;
      color: $White;

      &:hover {
        color: $Green-light;
      }

      &:active {
        color: $Green-dark;
      }
    }

    &-enterapp {
      padding: 12px 18px;
      border-radius: 10px;
      font-size: 26px;
      color: $Black;
      background-color: $Green-light;
      box-shadow: 0 0 64px 0 rgba($color: $Green-light, $alpha: 0.3);
      cursor: pointer;

      &:hover {
        box-shadow: 0 0 64px 0 rgba($color: $Green-light, $alpha: 0.4);
      }

      &:active {
        box-shadow: 0 0 64px 0 rgba($color: $Green-light, $alpha: 0.2);
      }
    }
  }
}
