@import "../../styles/variables.scss";

.tokenomics {
  width: 100%;
  padding: 0 100px 150px 100px;
  align-items: center;

  &-wrapper {
    position: relative;
    width: 100%;
    justify-content: center;
    margin: 150px 0;

    & > img {
      top: 0;
      position: absolute;
      width: 45%;
      z-index: 1;
    }

    &-comments {
      padding: calc(1vw) 0;
      width: 100%;
      height: calc((100vw - 200px) * 0.45 * 0.9);
      z-index: 2;
      align-items: center;
      justify-content: space-between;
    }
  }

  &-first,
  &-last {
    gap: calc(35vw);
  }

  &-middle {
    gap: calc(45vw);
    padding-right: 100px;
  }

  &-item {
    &-title {
      white-space: nowrap;
      color: $White;
      font-size: 48px;
      font-family: "burnaby-stencil";
    }

    &-content {
      color: $Green-dark;
      font-size: 24px;
      font-family: "sofia-pro";
      text-align: start;
      width: 200px;
    }

    &:not(:last-child) {
      align-items: flex-end;

      & > div:nth-child(2) {
        text-align: end !important;
      }
    }
  }

  & > img {
    width: calc(100% + 160px);
    margin: 0 -30px;
  }
}

@media (max-width: 1200px) {
  .tokenomics {
    padding: 0 60px 100px 60px;

    &-wrapper {
      &-comments {
        flex-direction: row !important;
      }

      & > img {
        position: absolute;
        width: 50%;
        z-index: 1;
      }
    }

    &-first {
      gap: calc(25vw);
      flex-direction: column !important;
    }

    &-middle {
      gap: calc(45vw);
      flex-direction: column !important;
      padding-right: 0;
      margin-top: 50px;
    }

    &-last {
      gap: calc(25vw);
      flex-direction: column !important;
    }

    &-item {
      align-items: center;
      justify-content: center;

      &-title {
        font-size: 36px;
      }

      &-content {
        font-size: 18px;
        text-align: center;
        width: 200px;
      }

      &:not(:last-child) {
        align-items: center;

        & > div:nth-child(2) {
          text-align: center !important;
        }
      }
    }

    & > img {
      width: calc(100% + 90px);
      margin: 100px -30px 0;
    }
  }
}

@media (max-width: 900px) {
  .tokenomics {
    padding: 0 30px 80px 30px;

    &-wrapper {
      padding-top: 30px;

      &-comments {
        gap: 24px;
        justify-content: center;
      }

      & > img {
        position: absolute;
        width: 50%;
        z-index: 1;
      }
    }

    &-first {
      gap: calc(40vw);
    }

    &-middle {
      gap: calc(50vw);
      margin-top: 30px;
    }

    &-last {
      gap: calc(40vw);
    }

    &-item {
      &-title {
        font-size: 26px;
      }

      &-content {
        font-size: 12px;
        width: 140px;
      }
    }

    & > img {
      width: 100%;
      margin: 60px -30px;
    }
  }
}

@media (max-width: 700px) {
  .tokenomics {
    padding: 0 10px 60px 10px;

    &-wrapper {
      & > img {
        width: 250px;
        z-index: 1;
      }

      &-comments {
        gap: 0;
      }
    }

    &-first {
      gap: 220px;
      margin-top: 10px;
    }

    &-middle {
      gap: 300px;
      margin-top: 10px;
    }

    &-last {
      gap: 220px;
      margin-top: 10px;
    }

    &-item {
      align-items: center;
      justify-content: center;

      &-title {
      }

      &-content {
      }

      &:not(:last-child) {
        align-items: center;

        & > div:nth-child(2) {
          text-align: center !important;
        }
      }
    }

    & > img {
      width: 100%;
      margin: 50px -30px;
    }
  }
}
