@import "../../styles/variables.scss";

.features {
  width: 100%;
  margin-top: calc(75vw + 50px);
  padding: 0 100px;

  &-title {
    font-size: 100px;
    align-items: center;
    font-family: "sofia-pro";
    font-weight: 800;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba($color: $Green-light, $alpha: 0.2);

    & > span {
      margin-top: -70px;
      font-size: 96px;
      -webkit-text-stroke-width: 0;
      color: $Green-light;
      font-family: "burnaby-stencil";
    }
  }

  &-howtoplay {
    position: relative;
    margin-top: 100px;
    width: 100%;
    justify-content: space-around;

    &-tomb {
      position: relative;
      justify-content: center;
      align-items: center;
      justify-content: center;

      &-texts {
        width: 100%;
        position: absolute;
        align-items: center;
        justify-content: center;
        padding: 80px 0 0;

        &-title {
          font-size: 60px;
          font-family: "burnaby-stencil";
          margin-bottom: 30px;
        }

        &-comment {
          width: 70%;
          font-size: 24px;
          font-family: "sofia-pro";
          font-weight: 400;
        }
      }
    }
  }
}

.playtoearn {
  width: 100%;
  margin-top: 120px;
  padding: 0 100px;
  align-items: center;

  &-title {
    font-size: 100px;
    align-items: center;
    font-family: "sofia-pro";
    font-weight: 800;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba($color: $Green-light, $alpha: 0.2);

    & > span {
      text-align: center;
      margin-top: -70px;
      font-size: 96px;
      -webkit-text-stroke-width: 0;
      color: $Green-light;
      font-family: "burnaby-stencil";
    }
  }

  &-comment {
    color: $White;
    font-size: 30px;
    font-weight: 400;
    font-family: "sofia-pro";
    text-align: center;
    padding: 0 60px;
  }
}
