@import "../../styles/variables.scss";

.features {
  width: 100%;
  margin-top: calc(75vw + 50px);
  padding: 0 100px 150px 100px;

  &-howtoplay {
    position: relative;
    margin-top: 100px;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px;

    &-tomb {
      position: relative;
      justify-content: center;
      align-items: center;
      justify-content: center;

      &-texts {
        width: 100%;
        position: absolute;
        align-items: center;
        justify-content: center;
        padding: 80px 0 0;

        &-title {
          font-size: 60px;
          font-family: "burnaby-stencil";
          margin-bottom: 30px;
        }

        &-comment {
          width: 70%;
          font-size: 24px;
          font-family: "sofia-pro";
          font-weight: 400;
        }
      }
    }
  }
}

.playtoearn {
  width: 100%;
  padding: 0 100px 150px 100px;
  align-items: center;

  & .subtitle {
    white-space: normal;
  }

  &-comment {
    color: $White;
    font-size: 30px;
    font-weight: 400;
    font-family: "sofia-pro";
    text-align: center;
    padding: 0 60px;
  }

  &-features {
    margin-top: 100px;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    gap: 32px;

    &-item {
      &-wrapper {
        flex: 1;
        max-width: 420px;
        background-color: $Black-gray;
        padding: 50px;
        border-radius: 16px;
        justify-content: space-between;

        &-image {
          flex: 1;
          margin-bottom: 32px;
          align-items: center;
          justify-content: center;

          & > img {
            height: 80%;
          }
        }

        &-title {
          color: $Green-light;
          font-size: 42px;
          font-family: "burnaby-stencil";
          white-space: nowrap;
        }

        & > p {
          color: $Green-dark;
          font-size: 24px;
          font-family: "sofia-pro";
          margin-bottom: 0;
        }
      }
    }
  }
}
