@import "../../styles/variables.scss";

.features {
  width: 100%;
  margin-top: calc(75vw + 50px);
  padding: 0 100px 150px 100px;

  &-howtoplay {
    position: relative;
    margin-top: 100px;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px;

    &-tomb {
      position: relative;
      justify-content: center;
      align-items: center;
      justify-content: center;

      &-texts {
        width: 100%;
        position: absolute;
        align-items: center;
        justify-content: center;
        padding: 80px 0 0;

        &-title {
          font-size: 60px;
          font-family: "burnaby-stencil";
          margin-bottom: 30px;
        }

        &-comment {
          width: 70%;
          font-size: 24px;
          font-family: "sofia-pro";
          font-weight: 400;
        }
      }
    }
  }
}

.playtoearn {
  width: 100%;
  padding: 0 100px 150px 100px;
  align-items: center;

  & .subtitle {
    white-space: normal;
  }

  &-comment {
    color: $White;
    font-size: 30px;
    font-weight: 400;
    font-family: "sofia-pro";
    text-align: center;
    padding: 0 60px;
  }

  &-features {
    margin-top: 100px;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    gap: 32px;

    &-item {
      &-wrapper {
        flex: 1;
        max-width: 24%;
        background-color: $Black-gray;
        padding: 50px;
        border-radius: 16px;
        justify-content: space-between;

        &-image {
          flex: 1;
          margin-bottom: 32px;
          align-items: center;
          justify-content: center;

          & > img {
            height: 80%;
          }
        }

        &-title {
          color: $Green-light;
          font-size: 42px;
          font-family: "burnaby-stencil";
          white-space: nowrap;
        }

        & > p {
          color: $Green-dark;
          font-size: 24px;
          font-family: "sofia-pro";
          margin-bottom: 0;
        }
      }
    }
  }
}

@media (max-width: 1700px) {
  .features {
    &-howtoplay {
      &-tomb {
        & > img {
          max-width: 380px;
          min-width: 360px;
        }

        &-texts {
          &-title {
            font-size: 56px;
          }

          &-comment {
            font-size: 20px;
          }
        }
      }
    }
  }

  .playtoearn {
    &-comment {
      font-size: 28px;
    }

    &-features {
      &-item-wrapper {
        padding: 24px;

        &-title {
          font-size: 36px;
        }

        & > p {
          font-size: 20px;
        }
      }
    }
  }
}

@media (max-width: 1400px) {
  .playtoearn {
    &-features {
      &-item-wrapper {
        &-title {
          font-size: 30px;
        }

        & > p {
          font-size: 18px;
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .features {
    margin-top: calc(75vw + 50px);

    &-howtoplay {
      gap: 30px;

      &-tomb {
        & > img {
          max-width: 320px;
          min-width: 300px;
        }

        &-texts {
          &-title {
            font-size: 40px;
          }

          &-comment {
            font-size: 16px;
          }
        }
      }
    }
  }

  .playtoearn {
    padding: 0 60px 150px 60px;

    &-comment {
      font-size: 24px;
    }

    &-features {
      gap: 16px;

      &-item-wrapper {
        &-title {
          font-size: 28px;
        }

        & > p {
          font-size: 16px;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .features {
    margin-top: calc(75vw + 50px);

    &-howtoplay {
      gap: 16px;

      &-tomb {
        & > img {
          max-width: 280px;
          min-width: 260px;
        }

        &-texts {
          &-title {
            font-size: 36px;
          }

          &-comment {
            font-size: 14px;
          }
        }
      }
    }
  }

  .playtoearn {
    &-comment {
      font-size: 20px;
    }

    &-features {
      gap: 16px;

      &-item-wrapper {
        max-width: 48%;
        min-width: 46%;

        &-title {
          font-size: 28px;
        }

        & > p {
          font-size: 16px;
        }
      }
    }
  }
}

@media (max-width: 900px) {
  .features {
    margin-top: calc(90vw - 30px);
    padding: 0 30px 100px 30px;

    &-howtoplay {
      &-tomb {
        & > img {
          max-width: 240px;
          min-width: 220px;
        }

        &-texts {
          &-title {
            font-size: 32px;
            margin-bottom: 16px;
          }

          &-comment {
            font-size: 14px;
          }
        }
      }
    }
  }

  .playtoearn {
    padding: 0 30px 100px 30px;

    &-comment {
      font-size: 16px;
    }

    &-features {
      gap: 16px;

      &-item-wrapper {
        max-width: 60%;
        min-width: 50%;

        &-title {
          font-size: 28px;
        }

        & > p {
          font-size: 16px;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .features {
    margin-top: calc(40vw);
    padding: 0 10px 100px 10px;
  }

  .playtoearn {
    padding: 0 10px 100px 10px;

    &-comment {
      font-size: 14x;
    }

    &-features {
      gap: 16px;

      &-item-wrapper {
        max-width: 95%;
        min-width: 90%;

        &-title {
          font-size: 28px;
        }

        & > p {
          font-size: 16px;
        }
      }
    }
  }
}
