@import "../../styles/variables.scss";

.footer {
  padding: 0 100px;
  color: $Green-dark;
  font-size: 30px;
  font-family: "sofia-pro";
  font-weight: 400;

  & > div {
    width: 100%;
    text-align: center;
    border-top: 1px solid $Green-dark;
    padding: 40px 0;
  }
}

@media (max-width: 1024px) {
  .footer {
    padding: 0 60px;
    font-size: 24px;

    & > div {
      padding: 30px 0;
    }
  }
}

@media (max-width: 768px) {
  .footer {
    padding: 0 30px;
    font-size: 20px;

    & > div {
      padding: 20px 0;
    }
  }
}

@media (max-width: 425px) {
  .footer {
    padding: 0 10px;
    font-size: 16px;

    & > div {
      padding: 10px 0;
    }
  }
}
